body{
    background-color: #09b77c;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.container{
    width: 800ox;
    margin: 30px auto;
    color: white;
    text-align: center;
}
img{
    width: 50%;
    border-radius: 200px;
}
h1,
h2,
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 2.6rem;
    text-transform: capitalize;
}
#seconds,
#tens{
    font-size: 2em;
}
button{
    width: 150px;
    height: 50px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
}
button:hover{
    background: white;
    color: #09b77c;
    font-weight: 800;
    text-transform: capitalize; /* please search in goggle*/
}